

<form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <h3>Login</h3>
    <label for="username"><h4>Username</h4></label>
    <input type="text"
    placeholder="Username/Email"
    id="username"
    formControlName="username"/>

    <label for="password"><h4>Password</h4></label>
    <input type="password"
    placeholder="Password"
    id="password"
    formControlName="password"
    />

    <button><span>Login</span></button>
    
    <p>or Login with</p>
    <div class="social">

        <div (click)="loginViaGoogle()" class="go">
            <p>Google :)</p>
        </div>

    </div>
        
</form>